@model CludeProject.Models.ProfissionalModel

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="editModalLabel">Editar Profissional</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="post" action="@Url.Action("Edit", "Profissional")">
                    <input type="hidden" id="profissionalId" name="Id" value="@Model.Id">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome do Profissional</label>
                        <input type="text" class="form-control" id="nome" name="nome" value="@Model.Nome">
                    </div>
                    <div class="mb-3">
                        <label for="especialidade" class="form-label">Especialidade</label>
                        <select class="form-select" id="especialidadeEdit" name="EspecialidadeId" required>
                            @foreach (var especialidade in ViewBag.Especialidades as List<CludeProject.Models.EspecialidadeModel>)
                            {
                                <option value="@especialidade.Id" data-tipoDocumento="@especialidade.TipoDocumento" >@especialidade.Nome</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tipoDocumento" class="form-label">Tipo do Documento</label>
                        <input type="text" class="form-control" id="tipoDocumentoEdit" name="TipoDocumento" value="@Model.Especialidade?.TipoDocumento" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="numeroDocumento" class="form-label">Número do Documento</label>
                        <input type="text" class="form-control" id="numeroDocumentoEdit" name="numeroDocumento" value="@Model.NumeroDocumento">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-add-custom" id="saveEdit">Salvar</button>
            </div>
        </div>
    </div>
</div>
