@using CludeProject.Models

@{
    ViewData["Title"] = "Profissionais";
    var profissionais = ViewData["Profissionais"] as List<ProfissionalModel>;
}

@Html.Partial("_CreateModal")
@foreach (var profissional in profissionais)
{
    @Html.Partial("_EditModal", profissional)
    @Html.Partial("_DeleteModal", profissional)
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
        <div class="dropdown">
            <button class="btn btn-filter-custom dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Filtros
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                <li class="dropdown-header text-muted">FILTRAR POR:</li>
                <li><a class="dropdown-item filter-option" href="#" data-filter="all">Todos</a></li>
                @if (!(ViewBag.Especialidades is List<CludeProject.Models.EspecialidadeModel> especialidades) || !especialidades.Any())
                {
                   <li>Especialidade não cadastrada.</li>   
                } 
                else 
                {
                    @foreach (var especialidade in ViewBag.Especialidades as List<CludeProject.Models.EspecialidadeModel>)
                    {
                        <li>
                            <a class="dropdown-item filter-option" href="#" data-filter="@especialidade.Id">
                                @especialidade.Nome
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        <button class="btn btn-add-custom no-focus" data-bs-toggle="modal" data-bs-target="#createModal">Adicionar +</button>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Tipo do Documento</th>
                    <th>Número do Documento</th>
                    <th>Ações</th>

                </tr>
            </thead>
             <tbody>
                @if (profissionais == null || !profissionais.Any())
                {
                    <tr>
                        <td colspan="6" class="text-center">Profissionais não cadastrados.</td>
                    </tr>
                }
                else
                {
                    @foreach (var profissional in profissionais)
                    {
                        <tr data-specialty-id="@profissional.Especialidade?.Id">
                            <td>@profissional.Id</td>
                            <td>@profissional.Nome</td>
                            <td data-specialty-id="@profissional.Especialidade?.Id">@profissional.Especialidade?.Nome</td>
                            <td>@profissional.Especialidade?.TipoDocumento</td>
                            <td>@profissional.NumeroDocumento</td>
                            <td>
                                <div class="dropdown dropstart">
                                    <button class="btn btn-link p-0 border-0 bg-transparent no-focus" type="button" id="dropdownActions" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical focus:outline-none" style="color: black;"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownActions">
                                        <li class="dropdown-header text-muted">AÇÕES</li>
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editModal" onclick="openEditModal(@profissional.Id, '@profissional.Nome', '@profissional.Especialidade?.Nome')">Editar</a></li>
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal-@profissional.Id" data-id="@profissional.Id" onclick="setDeleteId(@profissional.Id)">Excluir</a></li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                }
             </tbody> 
        </table>
    </div>


    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    </nav>
</div>

<script src="~/js/Scripts/Modais/modais.js"></script>
<script src="~/js/Scripts/Requisicoes/requisicoes.js"></script>
<script src="~/js/Scripts/Filtros/filtro.js"></script>
<script src="~/js/Scripts/Selecao/selecao.js"></script>