@using CludeProject.Models

@{
    ViewData["Title"] = "Profissionais";
    var profissionais = ViewData["Profissionais"] as List<ProfissionalModel>;
}

@Html.Partial("_CreateModal")
@foreach (var profissional in profissionais)
{
    @Html.Partial("_EditModal", profissional)
    @Html.Partial("_DeleteModal", profissional)
}



<div class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
        <button class="btn btn-filter-custom no-focus">Filtrar por: Todos</button>
        <button class="btn btn-add-custom no-focus" data-bs-toggle="modal" data-bs-target="#createModal">Adicionar +</button>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Tipo do Documento</th>
                    <th>Número do Documento</th>
                    <th>Ações</th>

                </tr>
            </thead>
             <tbody>
                @foreach (var profissional in profissionais)
                {
                    <tr>
                        <td>@profissional.Id</td>
                        <td>@profissional.Nome</td>
                        <td>@profissional.Especialidade?.Nome</td>
                        <td>@profissional.Especialidade?.TipoDocumento</td>
                        <td>@profissional.NumeroDocumento</td>
                        <td>
                            <div class="dropdown dropstart">
                                <button class="btn btn-link p-0 border-0 bg-transparent no-focus" type="button" id="dropdownActions" data-bs-toggle="dropdown" aria-expanded="false" >
                                    <i class="bi bi-three-dots-vertical focus:outline-none" style="color: black;"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownActions">
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editModal" onclick="openEditModal(@profissional.Id, '@profissional.Nome', '@profissional.Especialidade?.Nome')">Editar</a></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteId(@profissional.Id)">Excluir</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                }
             </tbody> 
        </table>
    </div>


    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    </nav>
</div>

<script src="~/js/modais.js"></script>